.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  font-family: sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  text-align: start;
  color: rgb(99, 96, 96);
}
small {
  font-size: 12px;
}
.row {
  display: flex;
}

h1 {
  text-align: left;
}
.tempfigure {
  font-size: 50px;
  text-align: left;
}
